<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">El Restaurante</h1>
      
      <p class="lead">Misión</p>
      <p class="lead">Satisfacer las necesidades gastronómicas de nuestros clientes, ofreciendo alimentos y servicios con la más alta calidad, donde se sobrepasen las expectativas de nuestros clientes y ser un espacio de trabajo que permita la realización personal y el Desarrollo de sus colaboradores en el grupo.
Tomando como estrategia principal el mejoramiento continúo de los estrictos estándares de higiene y buen servicio en un ambiente seguro, agradable y familiar a un precio justo.</p>
      <p class="lead">Visión</p>
      <p class="lead">Ser el Mejor Restaurante a nivel Regional y nacional" Ser reconocido y preferido a nivel Regional y Nacional, como un grupo de trabajo original, sólido y profesional</p>
      
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://w.wallhaven.cc/full/vg/wallhaven-vgkk83.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Especialidades</h4>
            <p class="card-text">Le ofrecemos las mejores especialidades de platillos especiales.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://w.wallhaven.cc/full/47/wallhaven-47z7oy.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Nuevos Platillos</h4>
            <p class="card-text">Contamos con nuevos platillos para satisfacer su exigente paladar.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://w.wallhaven.cc/full/n6/wallhaven-n6pyql.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Extrabaganzas</h4>
            <p class="card-text">Contamos con gran variedad de extrabaganzas exoticas.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://w.wallhaven.cc/full/0p/wallhaven-0prlmm.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Actividades</h4>
            <p class="card-text">Contamos con la capacidad para brindar nuestros servicios para sus eventos.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
 



   
	<footer th:replace="layout/layout :: footer"></footer>    
</body>
</html>