<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${title}"></div>
			
			<div class="card-body">

				<h4 class="card-tittle">
					<a th:href="@{/platillo/nuevo}" class="btn btn-outline-primary btn-xs">Agregar Platillo</a>
				</h4>
				
				
				<table class="table table-striped " th:if="${!platillos.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Descripcion</td>
							<td>precio</td>
							<td>tipo</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="platillo: ${platillos}">
							<td th:text="${platillo.idPlato}"></td>
							<td th:text="${platillo.descripcion}"></td>
							<td th:text="${platillo.precio}"></td>
							<td th:text="${platillo.tipo}"></td>
							<td class="text-center"><a class="btn btn-outline-success btn-xs" th:href="@{/platillo/editar/} + ${platillo.idPlato}">Editar</a></td>
							<td class="text-center"><a class="btn btn-outline-danger btn-xs" th:href="@{/platillo/eliminar/} + ${platillo.idPlato}" onclick="return confirm('Desea eliminar el platillo?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>