<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>



	
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${title}"></div>
			
			<div class="card-body">

				<h4 class="card-tittle">
					<a th:href="@{/proveedor/nuevo}" class="btn btn-outline-primary btn-xs">Agregar Proveedor</a>
				</h4>
				
				
				<table class="table table-striped " th:if="${!proveedores.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Descripcion</td>
							<td>Encargado</td>
							<td>Nombre</td>
							<td>Notas</td>
							<td>Telefono</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proveedor: ${proveedores}">
							<td th:text="${proveedor.idProveedor}"></td>
							<td th:text="${proveedor.descripcion}"></td>
							<td th:text="${proveedor.encargado}"></td>
							<td th:text="${proveedor.nombre}"></td>
							<td th:text="${proveedor.notas}"></td>
							<td th:text="${proveedor.telefono}"></td>
							<td class="text-center"><a class="btn btn-outline-success btn-xs" th:href="@{/proveedor/editar/} + ${proveedor.idProveedor}">Editar</a></td>
							<td class="text-center"><a class="btn btn-outline-danger btn-xs" th:href="@{/proveedor/eliminar/} + ${proveedor.idProveedor}" onclick="return confirm('Desea eliminar el proveedor?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>