<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>



	
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${title}"></div>
			
			<div class="card-body">

				<h4 class="card-tittle">
					<a th:href="@{/cliente/nuevo}" class="btn btn-outline-primary btn-xs">Agregar Cliente</a>
				</h4>
				
				
				<table class="table table-striped " th:if="${!listadoCliente.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Nombre</td>
							<td>Correo</td>
							<td>Telefono</td>
							<td>Editar</td>
							<td>Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${listadoCliente}"> 
							<td th:text="${cliente.idCliente}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.coreo}"></td>
							<td th:text="${cliente.telefono}" ></td>
							<td class="text-center"><a class="btn btn-outline-success btn-xs" th:href="@{/cliente/editar/} + ${cliente.idCliente}">Editar</a></td>
							<td class="text-center"><a class="btn btn-outline-danger btn-xs" th:href="@{/cliente/eliminar/} + ${cliente.idCliente}" onclick="return confirm('Desea eliminar el Cliente?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>


				<nav th:replace="paginator-nav :: paginator"></nav>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>